html{
    background-color: white;
}
.üst{
    position: absolute;
    top:0px;
    left: 5px;
    height: 120px;
    right: 5px;
    width: 99%;
    color: #ccc;
    background: #333;
}

.alt{
    position: relative;
    bottom:-1100px;
    left: 5px;
    right: 5px;
    width: 99%;
    color: #ccc;
    background: #333;
}

/*Menü yapımı */
.menu  {
    position: absolute;
    top: 50px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    left: 1300px;
    overflow: hidden;
}
.menu li {
    float: left; 
}

.menu li a {
    display: block;
    padding:12px 14px;
    color: white;
    text-decoration:none; 
}
.menu li a:hover{
    background-color:black; 
}
/*Menü son */
/*LOGO*/
.logo{
    position: absolute;
    left: 500px;
    top: 8px;
}
/*LOGO SON*/
/*kategori*/
.kategori{
    position: absolute;
    top: 120px;  
    margin:0;
    overflow: hidden;
    left:290px;
}
.kategori-liste{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.kategori-liste li a {
    display: block;
    width: 140px;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    background: #333;
}
.kategori-liste li a:hover{
    background-color: black;
}
/*kategori son*/
/*body ortalama*/
.orta{
    margin: 0 auto;
    width:960px;
    border:1px solid black;
}
/*body son*/
.kutu {
    position: relative;
    top: 150px;
      width: 250px;
      padding: 10px;
      float: left;
      border: 1px solid gray;
      margin: 10px;
      margin-left: 25px;
      margin-right: 10px;
    }
    .baslik{
        text-decoration: none;
        color: black;
        position: relative;
        left: 80px;
      }
      .baslik:hover{
        text-decoration: underline;
      
      }

      .resim{
         position: relative;
         left: 25px;
      }
      /* Footer*/
footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #333;
    height: auto;
    width: 98vw;
    font-family: "Open Sans";
    padding-top: 40px;
    color: #fff;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #fff;
}
.socials a i{
    font-size: 1.1rem;
    transition: color .4s ease;

}
.socials a:hover i{
    color: aqua;
}

.footer-bottom{
    background: #000;
    width: 98vw;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}
/*Footer son*/


/*Resim*/
.amd{
    position: relative;
    left: 25px; 
  }
  .intel{
    position: relative;
    left: 28px; 
  }

/*Resim son*/
/*footer konum*/
.konum{
    position: relative;
    left: 15px;
}
/*footer konum son*/